

.banner {
    background-color: #fffbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec1 {
    background-image: url(https://images.unsplash.com/photo-1611416517780-eff3a13b0359?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2l0eSUyMGF0JTIwbmlnaHR8ZW58MHx8MHx8fDA%3D);

}