body {
    margin: 0px;
}

.banner {
    background-color: #575d75;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.links a {
    color: white;
    text-decoration: none; 
    cursor: pointer; 
    margin-left: 10px;
   }

.sec1 {
    background-image: url(./bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    text-align: center;
    color: #fffbff;
    font-size: xx-large;
    
}
 .learn {
    color: #fffbff;
    background-color: #f68559;
    border-radius: 10px;
    padding: 20px;
 }

 .services {
    display: flex;
    justify-content: center;
    text-align: center;
}
 
.our {
    background-color: #2c8dc0;
    border-radius: 1px;
    padding: 10px;
}
.portfolio {
    background-color: #2e3e4e;
}

.images {
    display: flex;
    text-align: center;
}

.more {
    color: white;
    background-color: #2c8dc0;
    border-radius: 5px;
    font-size: large;
}

h2 {
    color: #f68559;
    
}
.head {
    justify-content: space-between;
    display: flex;
}

.list {
    display: flex;
}

.offer {
    text-align: center;
}

.sec4 {
    color: #2c8dc0;
}
.Details{
    border-radius: 5px;
    background-color: #2c8dc0;
    color: white;
   
}
.sec5 {
    text-align: center;
    background-color: #f6f7f9;
}

.sec6 {
    background-color: #2e3e4e;
}