

.banner {
    background-color: #fffbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a {
    color: #fb3f00;
    text-decoration: none;
}

.sec1 {
    background-image: url(./bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    text-align: center;
    color: #fffbff;
    font-size: xx-large;
    
}
 .learn {
    color: #fffbff;
    background-color: #f68559;
    border-radius: 10px;
    padding: 20px;
 }